.header {
    background: #FFFFFF;
}

.header__inner {
    margin: 0 auto;
    max-width: 1512px;
    height: 53px;
    padding: 10px 20px;
}

.header__logo {
    font-family: "Vesper Libre", serif;
    font-weight: 500;
    font-style: italic;
    color: #F5C800;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

body {
    background-color: #F8F8F8;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1512px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.register-form__heading {
    align-items: flex-start;
    width: 50%;
    font-weight: bold;
    margin-bottom: 10px;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    margin-bottom: 15px;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #aaa;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}